body {
  font-family: "PT Sans", sans-serif;
  color: #222;
  margin: 0;
}

h1 {
  font-family: "Adamina", serif;
  color: white;
  background-color: rgb(3,47,91);
  margin-top: 0;
  padding: 5px;
}

header {
  text-align: center;
}

header p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 2px;
}

article + article {
  margin-top: 20px;
}

ul {
  margin-top: 5px;
}

nav li {
  list-style-type: none;
  padding-left: 0;
}

nav ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
}

header img {
  margin: 10px;
  border: 2px solid rgb(3,47,91);
}

h2 {
  font-family: "Adamina", serif;
  color: white;
  background-color: rgb(3,47,91);
  padding: 2px 10px;
}

#wrapper,
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#grid,
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

#left article,
#right article,
.left article,
.right article {
  margin-left: 10px;
}

#wrapper a,
.wrapper a {
  color: rgb(3,47,91);
}

a:active {
  color: red;
}

a:visited {
  color: #666;
}

a:hover {
  color: #333;
}

#site-navigation {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

#site-navigation ul {
  text-align: center;
  display: block;
  padding: 10px 0 5px;
  background-color: rgb(3,47,91);
  max-width: 960px;
}

#site-navigation .nav-item {
  color: white;
  text-decoration: underline;
}

#site-navigation li {
  display: inline-block;
  padding:0 20px;
}

#site-navigation li + li {
  border-left: 1px solid white;
}

#site-navigation ul:after {
  content: '';
  border-bottom: 1px solid white;
  width: 60%;
  margin: 15px auto 0;
  height: 0;
  display: block;
}

.home #site-navigation ul:after{
  display: none;
}

.gridhome,
.gridreporting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

#site-navigation h1 {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  font-size: 25px;
}

.home #site-navigation ul {
  padding: 16px 0;
  box-sizing: border-box;
}

.home .wrapper {
  margin-top: 10px;
}

.carousel {
  max-width: 480px;
}

.homepageinfo {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin: auto 0;
  padding-bottom: 40px;
}

.homepageinfo h2 {
  color: black;
  background: none;
}

.home .left {
  background-color: #f1f3f4;
  margin-bottom: 35px;
  padding: 5px 10px;
  display: flex;
}

span.nav-item:hover{
  cursor: pointer;
}

#biophoto,
.biophoto {
  margin-top: 0;
}

#bioinfo p,
.bioinfo p {
  margin-top: 10px;
  padding-right: 10px;
}

#bioinfo h2,
.bioinfo h2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bioinfo h3 {
  margin-top: 0;
}

.flexhome,
.flexreporting {
  display: flex;
}

.flexhome .left,
.flexhome .right,
.flexreporting .left,
.flexreporting .right {
  flex: 1 0;
}

.flexhome .left,
.flexreporting .left {
   margin-bottom: 5px;
}

figure {
    margin: 0;
}

.reporting .wrapper,
.play-by-play .wrapper {
  margin-top: 5px;
}

.reporting h3 {
  color: rgb(3,47,91);
  font-family: "Adamina", serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgb(3,47,91);
  padding-bottom: 3px;
  margin-right: 10px;
}

.flexreporting .left {
  margin-bottom: 0;
}

.flexreporting .description,
.play-by-play .description {
    background-color: #f1f3f4;
    padding-left: 10px;
    margin-bottom: 5px;
}

.play-by-play iframe,
.reporting iframe {
  border: none;
}

.play-by-play iframe {
  margin-bottom: -5px;
}

.play-by-play audio {
  width: 100%;
  background-color: #f1f3f4;
  margin-bottom: -5px;
}

.play-by-play .description {
  padding: 15px 10px 20px 22px;
  margin-top: 0;
}

.reporting .courtesy {
  margin-top: 15px;
  color: #666;
  font-family: "Adamina", serif;
  font-size: 12px;
}
